name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup NodeJs
        uses: actions/setup-node@v1
        with:
          node-version: '18.12.1'
      - run: npm ls --depth=0
      - name: Install Dependencies
        run: npm install
      - name: Run test
        run: npm test
